<!DOCTYPE html>
<html>
<head><title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
  <h1>About Us</h1>
  <a href="/">Home</a> | <a href="/contact">Contact</a>
</body>
</html>
