<!DOCTYPE html>
<html>
<head><title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
  <h1>Contact Page J SDFJSLKDFJIOI</h1>
  <a href="/">Home</a> | <a href="/about">About</a>
</body>
</html>
