<!DOCTYPE html>
<html>
<head><title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
  <h1>Welcome to the Home Page jENKINS DEPLOYMENT Second Version</h1>
  <a href="/about">About</a> | <a href="/contact">Contact</a>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint facere neque dolores atque reprehenderit. Nostrum quo vero necessitatibus natus dolorum dolorem suscipit maxime. Quos quaerat, non voluptatem voluptates ipsam aliquid?</p>
  <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsam voluptatem culpa aspernatur soluta minima modi aut doloribus harum, nostrum odio alias cupiditate asperiores libero nemo. Veritatis, est necessitatibus. Natus?</h1>
</body>
</html>
